<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <!-- 财务报表中表头的行号 -->
    <add key="CaiWu" value="6" />
    <!-- 国库报表中表头的行号 -->
    <add key="GuoKu" value="3" />
    <!-- 报表标题，key为财务报表科目编号，value为调节表（国库标题）、调节表sheet名称、国库报表资金性质 -->
    <!--零余额公共-->
    <add key="101101" value="授权支付预算内,授权公共," />
    <!--零余额非税-->
    <add key="101102" value="授权支付预算外,授权非税," />
    <!--400101,财政拨款收入_一般公共预算财政拨款-->
    <add key="400101" value="经费拨款,直接公共,经费拨款" />
    <!--41010101,事业收入_教育事业收入_纳入专户管理的非税收入-->
    <add key="41010101" value="非税收入,直接非税,纳入专户管理的非税收入" />    
    <!--400102,财政拨款收入_纳入一般预算管理的非税收入,行政事业性收费收入-->
    <add key="400102" value="授权支付预算外,授权非税,国有资源（资产）有偿使用收入|行政事业性收费收入" />
    <!-- 资金性质 -->
    

  </appSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="NPOI" publicKeyToken="0df73ec7942b34e1" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.4.1.0" newVersion="2.4.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="NPOI.OOXML" publicKeyToken="0df73ec7942b34e1" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.4.1.0" newVersion="2.4.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="ICSharpCode.SharpZipLib" publicKeyToken="1b03e6acf1164f73" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.2.0.246" newVersion="1.2.0.246" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Drawing.Common" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.2" newVersion="4.0.0.2" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" /></startup></configuration>
